*.fbx filter=lfs diff=lfs merge=lfs -text
/VR_Azimuth_Project/Assets/BakedRoom/BakedTextures/Job[[:space:]]1_Plane_Pass[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
/VR_Azimuth_Project/Assets/BakedRoom__Fixed.png filter=lfs diff=lfs merge=lfs -text
